<!DOCTYPE html>
<html>
    <head>
        <title>Shoppify Inventory</title>
    </head>
    <body>
            <h2>Shoppify Inventory App</h2>

            
           <p> <a href="/">Home</a></p>
           <p> <a href="/additem">Add Item</a></p>
           <P> <a href="/viewitems">View Items</a></P>
           <p> <a href="/warehouse">Warehouse & location</a></p>
           <p> <a href="/lwarehouse">List warehouse & location</a></p>
    </body>
</html>