<!DOCTYPE html>
<html>
    <head>
        <title>Shoppify Inventory</title>
    </head>
    <body>


        <h1>Your Shoppify Inventory</h1>
            <a href="/">Home</a>
            <a href="/additem">Add Item</a>
            <a href="/viewitems">View Items</a>

        <h4>Items</h4>

        <table border="1">
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr>
                <% items.forEach(function(item) { %>
                <td> <%-item.name%> </td>
                <td> <%-item.quantity%> </td>
                <td> <a href="/edit/<%-item._id%>">Edit</a>  </td>
                <td> <a href="/delete/<%-item._id%>">Delete</a> </td>
            </tr>
            <% }) %> 
        </table>

    </body>
</html>